body{
    margin: 0;
    padding: 0;
    position: relative;
}
.main-container{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: lightblue;
}
.side-menu-bar{
    position: absolute;
    top: 0;
    left : 0;
    width: 12%;
    height : 100vh;
    background-color: pink;
    z-index: 2;
    transition: left 0.3s;
}
.side-menu-bar.visible {
    left: -12%;
}

.top-menu-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: blue;
    z-index: 2;
}
.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}